@model Triplite_Committee_Platform.ViewModels.BoardDetailsViewModel
@{
    ViewData["Title"] = "Board File";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-4">
        <h3>
            KINGDOM OF SAUDI ARABIA
            <br />
            MINISTRY OF EDUCATION
            <br />
            TAIBAH UNIVERSITY
            <br />
            CCSE
            <br />
            @Model.Board.BoardNo
        </h3>
    </div>
    <div class="col-sm-4">
        <img src="~/img/TLogo.png" width="250px" height="250px" />
    </div>
    <div class="col-sm-4" dir="rtl">
        <h3>
            المملكة العربية السعودية
            <br />
            وزارة التعليم
            <br />
            جامعة طيبة
            <br />
            كلية علوم الحاسب والمعلومات
            <br />
            @Model.Board.BoardNo
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 border" dir="rtl">
        <h3>
            وكالة الدراسات العليا والبحث العلمي
        </h3>
    </div>
    <div class="col-sm-4"></div>
</div>
<div class="row">
    <div class="w-75">
        <hr />
    </div>
</div>
<div class="row text-center" dir="rtl">
    <p class="fw-bold">
        محضر اللجنة الثلاثية المفوضة عن مجلس الكلية
    </p>
    <br />
    <p class="fw-bold">
        الاجتماع رقم (@Model.Board.BoardNo) بتاريخ (@Model.Board.ReqDate.ToShortDateString()) للعام الدراسي (@Model.Board.ReqDate.Year)
    </p>
    <p class="fw-bold">
        @Model.Board.Title
    </p>
</div>
<div class="container border">
    <div class="row">
        <div class="col-sm-2">
            <p>لجنة رقم</p>
        </div>
        <div class="col-sm-1">
            <p>@Model.Board.BoardNo</p>
        </div>
        <div class="col-sm-2">
            <p>التاريخ</p>
        </div>
        <div class="col-sm-3">
            <p>@Model.Board.ReqDate.ToShortDateString()</p>
        </div>
        <div class="col-sm-2">
            <p>التوصية</p>
        </div>
        <div class="col-sm-2">
            <p>@(Model.Board.Decision ? "Yest" : "No")</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <p>مقر البعثة</p>
        </div>
        <div class="col-sm-2">
            <p>@Model.Scholarship.University</p>
        </div>
        <div class="col-sm-2">
            <p>المدينة</p>
        </div>
        <div class="col-sm-2">
            <p>@Model.Scholarship.City</p>
        </div>
        <div class="col-sm-2">
            <p>الدولة</p>
        </div>
        <div class="col-sm-2">
            <p>@Model.Scholarship.Country</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <p>التخصص العام</p>
        </div>
        <div class="col-sm-4" class="text-center">
            <p>
                @Model.Scholarship.GeneralMajor
            </p>
        </div>
        <div class="col-sm-2">
            <p>التخصص الدقيق</p>
        </div>
        <div class="col-sm-4" class="text-center">
            <p>
                @Model.Scholarship.SpecificMajor
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <p>الدرجة العلمية</p>
        </div>
        <div class="col-sm-10 text-center">
            <p>@Model.Scholarship.Degree</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <p>بداية الدراسة</p>
        </div>
        <div class="col-sm-10 text-center">
            <p>@Model.Scholarship.Beginning_date</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <p>الحيثيات</p>
        </div>
        <div class="col-sm-10 text-center">
            @Html.Raw(Model.Board.Reasons.Replace("\n", "<br>"))
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <p>التوصية</p>
        </div>
        <div class="col-sm-10 text-center">
            @Html.Raw(Model.Board.Recommendation.Replace("\n", "<br>"))
        </div>
    </div>
</div>