@model Triplite_Committee_Platform.Models.CollegeModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["DeleteMessage1"] != null)
{
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="alert alert-danger col-sm-4 text-center" role="alert">
            @TempData["DeleteMessage1"]
            <br />
            <br />
            @TempData["DeleteMessage2"]

        </div>
        <div class="col-sm-4"></div>
    </div>
}

<div class="card w-50 mx-auto mt-3 rounded-4">
    <h3 class="mt-4 text-center"><strong class="text-uppercase">@Localizer["deleteCollegePhrase"] <span class="text-danger">[@Model?.CollegeName]</span> @Localizer["college"]</strong></h3>
    <p class="text-center text-dark fw-bold mt-5">@Localizer["collegeHasDept"]</p>
    <hr />
    <table class="table text-center">
        <thead>
            <tr>
                <th>#</th>
                <th>@Localizer["deptName"]</th>
                <th>@Localizer["action"]</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.Departments != null)
            {
                var count = 1;
                @foreach (var item in ViewBag.Departments)
                {
                    <tr>
                        <th scope="row">@count</th>
                        <td>@item.DeptName</td>
                        <td>
                            <div class="text-center">

                                <a asp-action="Delete" asp-controller="Department" asp-route-id="@item.DeptNo" class="btn  btn-md" data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="@Localizer["delete"]" id=""><i class="fa-solid text-danger fa-trash fs-4"></i></a>
                            </div>
                        </td>
                    </tr>
                    count++;
                }
            }
        </tbody>
    </table>

    
</div>
<div class="text-center">

    

    <div class="text-center row mb-4">
        <form asp-action="Delete">
            <input type="hidden" asp-for="CollegeNo" />
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirm">
                @Localizer["delete"]
            </button>
            <div class="modal fade" id="deleteConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteConfirmLabel">@Localizer["deleteConfirm"]</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@Localizer["close"]"></button>
                        </div>
                        <div class="modal-body">
                            @Localizer["deleteCollegePhrase"] <strong class="text-danger text-uppercase">[@Model?.CollegeName]</strong> @Localizer["college"]
                        </div>
                        <hr />
                        <div class="mb-3">
                            <button type="button" class="btn btn-secondary me-3 w-25" data-bs-dismiss="modal">@Localizer["no"]</button>
                            <button type="submit" class="btn btn-danger ms-3 w-25">@Localizer["yes"]</button>
                        </div>
                    </div>
                </div>
            </div>
            <a asp-action="Index" class="btn btn-secondary">@Localizer["backToList"]</a>
        </form>
    </div>
</div>