@model IEnumerable<Triplite_Committee_Platform.Models.CollegeModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}
@if(TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"]
    </div>
}
<div class="card p-3 mt-5 w-75 mx-auto rounded-4card p-3 mt-5 mx-auto rounded-4">
    <div class="row">
        <div class="col-sm-4">
            <strong class="fs-3">College List</strong>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-end">
            <a asp-action="Create" class="text-decoration-none text-light btn btn-primary me-1">
                <strong class="fs-5">Create New College</strong>
            </a>
        </div>
    </div>
    <hr />
    <table class="table align-middle  bg-white w-100 table-striped " id="DTable">
        <thead class="bg-darck">
            <tr>
                <th class="text-center w-50">College Name</th>
                <th class="text-center w-25">Number of Departments</th>
                <th class="text-center w-25">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="text-center align-items-center">
                            <div class="ms-3">
                                <p class=" mb-1">@Html.DisplayFor(modelItem => item.CollegeName)</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="text-center align-items-center">
                            <div class="ms-3">
                                <p class=" mb-1">@item.Department?.Count()</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="text-sm-center ">
                            <a asp-action="Create" asp-controller="Department" asp-route-id="@item.CollegeNo" class="btn btn-md" data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Add Department" id=""><i class="fa-solid text-success fa-plus fs-4"></i></a>
                            <a asp-action="Edit" asp-route-id="@item.CollegeNo" class="btn  btn-md" data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit College" id=""><i class="fa-solid text-primary fa-pen fs-4"></i></a>
                            <a asp-action="Details" asp-route-id="@item.CollegeNo" class="btn  btn-md" data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title=" View Details" id=""><i class="fa-solid text-secondary fa-circle-info fs-4"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.CollegeNo" class="btn  btn-md" data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="delete College" id=""><i class="fa-solid text-danger fa-trash fs-4"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@* DataTable Library used to add filters to the tables *@
<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.min.css" />
<script src="https://cdn.datatables.net/2.0.5/js/dataTables.min.js"></script>
<script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.min.js"></script>

<script>
    let table = new DataTable('#DTable', {
        lengthMenu: [8, 10, 25, 50, 100],
        order: [[0, null]],
    });


    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    });

</script>

@* End of DataTable Library initialization *@


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}