@model IEnumerable<Triplite_Committee_Platform.Models.CollegeModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CollegeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CollegeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CollegeNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CollegeNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CollegeNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
