@model Triplite_Committee_Platform.ViewModels.UserRolesViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Details</h1>

<div>
    <h4>User ID: @Model.Id</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.Name</dd>

        <dt class="col-sm-3">Employee ID / Username</dt>
        <dd class="col-sm-9">@Model.EmployeeID</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.Email</dd>

        <dt class="col-sm-3">Email Confirmed</dt>
        <dd class="col-sm-9">@Model.EmailConfirmed</dd>

        <dt class="col-sm-3">Phone Number</dt>
        <dd class="col-sm-9">@Model.PhoneNumber</dd>

        <dt class="col-sm-3">Phone Number Confirmed</dt>
        <dd class="col-sm-9">@Model.PhoneNumberConfirmed</dd>

        <dt class="col-sm-3">Department</dt>
        <dd class="col-sm-9">@Model.Department?.DeptName</dd>

        <dt class="col-sm-3">Roles</dt>
        <dd class="col-sm-9">
            @foreach (var role in Model.ListRoles)
            {
                <p>@role</p>
            }
        </dd>
    </dl>
</div>

<a asp-action="Index">Back to List</a>