@model Triplite_Committee_Platform.ViewModels.AccountViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card w-50 mx-auto mt-3 rounded-4">
    <h3 class="mt-4 text-center"><strong>User Details</strong></h3>
    <hr />
    <div class="card-body">
        <dl class="row g-3">

            <dt class="col-sm-4 fw-bold">Name:</dt>
            <dd class="col-sm-8">@Model.Name</dd>
            <hr />

            <dt class="col-sm-4 fw-bold">Employee ID / Username:</dt>
            <dd class="col-sm-8">@Model.EmployeeID</dd>
            <hr />
            <dt class="col-sm-4 fw-bold">Email:</dt>
            <dd class="col-sm-8">@Model.Email</dd>
            <hr />
            <dt class="col-sm-4 fw-bold">Email Confirmed:</dt>
            <dd class="col-sm-8">@Model.EmailConfirmed</dd>
            <hr />
            <dt class="col-sm-4 fw-bold">Phone Number:</dt>
            <dd class="col-sm-8">@Model.PhoneNumber</dd>
            <hr />
            <dt class="col-sm-4 fw-bold">Department:</dt>
            <dd class="col-sm-8">@Model.Department?.DeptName</dd>
            <hr />
            <dt class="col-sm-4 fw-bold">Roles:</dt>
            <dd class="col-sm-8">
                @foreach (var role in Model.ListRoles)
                {
                    <span class="text-black">@role | </span>
                }
            </dd>
            <hr />
            <dt class="col-sm-4 fw-bold my-auto">Signature:</dt>
            <dd class="col-sm-8">
                <img src="~/signatures/@Model.Signature" alt="signature" class="img-fluid" />
            </dd>
        </dl>
    </div>
</div>


<div class="text-center">

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-md">  Edit User </a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
