@model Triplite_Committee_Platform.ViewModels.LoginViewModel
@{
    ViewData["Title"] = @Localizer["title"];
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@if(TempData["Logout"] != null)
{
    <div class="pb-5"></div>
    <div class="alert alert-success text-center" role="alert">
        @TempData["Logout"]
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="pb-5"></div>
    <div class="alert alert-danger text-center" role="alert">
        @TempData["Error"]
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="pb-5"></div>
    <div class="alert alert-success text-center" role="alert">
        @TempData["Success"]
    </div>
}

<h5 class="pt-5 text-center">@Localizer["welcomePT1"] <strong>@Localizer["welcomePT2"]</strong></h5>
<div class="justify-content-center">
    <section class="text-black">
        <form id="account" method="post">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-4 mt-5">
                        <input asp-for="Email" class="form-control w-100" autocomplete="username" aria-required="true" placeholder="" />
                        <label asp-for="Email" class="form-label">@Localizer["email"]</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-4">
                        <input asp-for="Password" class="form-control w-100" autocomplete="password" aria-required="true" placeholder="" />
                        <label asp-for="Password" class="form-label">@Localizer["password"]</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="mb-5 text-center">
                <button id="login-submit" type="submit" class="w-50 btn btn-lg btn-primary">@Localizer["login"]</button>
            </div>
            <div class="row pb-3">
                
                <div class="col-sm-4">
                    <p class="fs-6">
                        <a id="forgot-password" class="text-light text-decoration-none text-start" asp-controller="Login" asp-action="Help"><strong>@Localizer["needHelp"]</strong></a>
                    </p>
                </div>
                <div class="col-sm-4">
                    <button>
                        <a asp-controller="Base" asp-action="changeCulture" asp-route-culture="ar" class="w-50 btn btn-lg btn-primary">
                            <i class="flag-icon flag-icon-gb"></i> العربية
                        </a>
                    </button>
                </div>
                <div class="col-sm-4 text-end">
                    <p class="fs-6">
                        <a class="text-light text-decoration-none" asp-area="" asp-controller="Login" asp-action="RequestScholarship"><strong>Request Scholarship</strong></a>
                    </p>
                </div>
                
            </div>
        </form>
    </section>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}