@model Triplite_Committee_Platform.Models.BoardModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BoardModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestType.RequestTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scholarship)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scholarship.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.DeptName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReqStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReqStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReqDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReqDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BoardNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
