@model IEnumerable<Triplite_Committee_Platform.Models.BoardModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequestType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReqStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReqDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestType.RequestTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scholarship.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DeptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReqStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReqDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BoardNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BoardNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BoardNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
