@model Triplite_Committee_Platform.Models.ContactModel
@{
    ViewData["Title"] = "Solved";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card w-50 mx-auto mt-3 rounded-4">
    <h3 class="mt-4 text-center"><strong><h4 class="text-danger">@Localizer["spamPhrase"]</h4></strong></h3>
    <hr />
    <div class="card-body">
        <dl class="row g-3">

            <dt class="col-sm-4 fw-bold">@Html.DisplayNameFor(model => model.Name)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>
            <hr />

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Email)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>
            <hr />
            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Subject)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Subject)</dd>
            <hr />
            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Message)</dt>
            <dd class="col-sm-8 text-break">@Html.DisplayFor(model => model.Message)</dd>
            <hr />
            <dd class="col-sm-4">@Localizer["status"]</dd>
            <dt class="col-sm-8">
                @if (Model.Status)
                {
                    <span class="text-success">@Localizer["solved"]</span>
                }
                else
                {
                    <span class="text-danger">@Localizer["notSolved"]</span>
                }
            </dt>



        </dl>
    </div>
</div>

<div class="text-center">

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirm">
                Delete
            </button>
            <div class="modal fade" id="deleteConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteConfirmLabel">@Localizer["deleteConfirm"]</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@Localizer["close"]"></button>
                        </div>
                        <div class="modal-body">
                            @Localizer["confirmPhrasePT1"] <strong class="text-danger text-uppercase">[@Model?.Name]</strong> @Localizer["confirmPhrasePT2"]
                        </div>
                        <hr />
                        <div class="mb-3">
                            <button type="button" class="btn btn-secondary me-3 w-25" data-bs-dismiss="modal">@Localizer["no"]</button>
                            <button type="submit" class="btn btn-danger ms-3 w-25">@Localizer["yes"]</button>
                        </div>
                    </div>
                </div>
            </div>
            <a asp-action="Index" class="btn btn-secondary">@Localizer["backToList"]</a>
        </div>
    </form>
</div>
