@model IEnumerable<Triplite_Committee_Platform.Models.ContactModel>

@{
    ViewData["Title"] = "Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewData["Title"]</h3>

@if (TempData["Message"] != null)
{
    <div class="row">
        <div class="col-4"></div>
        <div class="alert alert-success text-center col-4" role="alert">
            @TempData["Message"]
        </div>
        <div class="col-4"></div>
    </div>
}

<table class="table text-center mt-4">
    <thead>
        <tr>
            <th>
                Status
            </th>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Subject
            </th>
            <th>
                Message
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@(item.Status ? "table-success disabled" : "table-danger")">
                <td class="@(item.Status ? "text-success" : "text-danger")">@(item.Status ? "Yes" : "No")</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    <p class="text-dark text-truncate ps-5" style="max-width: 280px;">
                        @item.Message
                    </p>
                </td>
                <td>
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a>
                    <a asp-action="Solved" class="btn btn-success" asp-route-id="@item.Id"><i class="fa-solid fa-check"></i></a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>